body{
    background-image: url(imagenes/backgrounbody._SX1080_FMjpg_.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    height: 100vh;
    padding: 0 ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    
}
.header{
    display: flex;
    width: 100%;
    min-width: 300px;
    justify-content: center;
}
.nav{
    display: flex;
    width: 100%;
    min-width: 300px;
    margin: 20px auto;
    max-height: 150px;
    
}
.nav__ul{
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 0;
    margin: auto;
    background-color: #224F37dd;
    border-radius: 10px;
}
.nav__item{
    list-style: none;
    font-size: 1.8em;
    text-align: center;
    min-width: 150px;
    margin: 10px auto;
}
h1{
    display: flex;
    padding: 0;
    font-size: 3em;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
.main{
    display: flex;
    flex-basis: 900px;
    min-width: 300px;
}
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 400px;
}
.content__div{
    display: flex;
    justify-content: center;
    align-items: top;
    min-width: 100px;
    flex-basis: 300px;
    flex-grow: 0;
    min-height: 300px;
    border-radius: 10px;
    padding-top:25px ;
    box-sizing: border-box;
    box-shadow: 0 0 10px 3px #000;
    text-align: center;    
}
.--legion{
    background-image: url(imagenes/esatandartes-legion.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 30px;
    transition: .7s;
    
}
.--legion:hover{
    background-image: url(imagenes/levi.jpg);
    transform: scale(1.1);
}
.--muralla{
    background-image: url(imagenes/estandartes-guarnicion.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 30px;
}
.--policia{
    background-image: url(imagenes/estandartes-policia.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 30px;
}
.footer{
    width: 100%;
    min-height: 80px;
    background-size: cover;
    margin: 0;
    margin-top: auto;
    position: sticky;
    bottom: 0;   
}
@media screen and (max-width:700px) {
    body{
    background-color: #000;
    background-image: none;
    color: #fff;
    }    
    footer{
        display: none;
    }
    .nav__item{
        min-width: 150px;  
    }
}
@media screen and (max-width:350px) {
    h1{
        font-size: 1.5em;
        }
        .nav__item{
            font-size: 1.2em;
            text-decoration: underline;
        }
        .content__div{
            flex-basis: 120px;
            font-size: 1em;
        }
        .nav__ul{
            background-color: #922;
            border-radius: 15px ;
        }
}