body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    display: block;
    max-width: 800px;
    margin: 50px auto;
}
.content{
    display: flex;
    min-width: 600px;
}
.definicion__content{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 800px;
    border: 1px solid #000;
    box-sizing: border-box;
}
.--definicion {
    width: 60%;
    border: 1px solid #000;
    flex-grow: 1;
    padding: 0 30px;
    text-align: justify;
}
.--imagendefinicion{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.content__div img{
    min-width: 100px;
    height: auto;
    width: 100%;
    border: 1px solid #000;    
}
.nav__lateral{
    min-width: 200px;
    max-width: 400px;
    max-height: 100vh;
    border: 1px solid #000;
}
@media screen and (max-width:770px) {
    .definicion__content{
        height: 700px;
    }
    .--imagendefinicion{
        max-width: 600px;
        flex-grow: 1;
    }
    .content__div img{
        max-width: 300px;
        max-height: 400px;
    }
}