.definicion__content{
    display: flex;
    max-width: 800px;
    margin: auto;
    border: 1px solid #000;
    justify-content: space-around;
}
.--definicion {
    width: 60%;
    border: 1px solid #000;
}
.--imagendefinicion{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__div img{
    min-width: 200px;
    width: 100%;
    border: 1px solid #000;
    
}