body{
    background-image: url(imagenes/backgrounbody._SX1080_FMjpg_.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    height: 100vh;
    padding: 0 ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav__ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 400px;
}
.nav__item{
    list-style: none;
    font-size: 1.5em;
}
h1{
    font-size: 3em;
}
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 500px;
}
.content__div{
    display: flex;
    justify-content: center;
    align-items: top;
    border: 1px solid #000;
    min-width: 300px;
    min-height: 400px;
    border-radius: 10px;
    padding-top:25px ;
    box-sizing: border-box;
    box-shadow: 0 0 10px 3px #000;
}
.--legion{
    background-image: url(imagenes/esatandartes-legion.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 30px;
    transition: .7s;
    
}
.--legion:hover{
    background-image: url(imagenes/levi.jpg);
    transform: scale(1.1);
}
.--muralla{
    background-image: url(imagenes/estandartes-guarnicion.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 30px;
}
.--policia{
    background-image: url(imagenes/estandartes-policia.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 30px;
}
.footer{
    width: 100%;
    height: 160px;
    background-image: url(imagenes/singeki-1.jpg);
    background-size: contain;
    margin: 0;
    margin-top: auto;
    border: 1px solid #000;    
}
@media screen and (max-width:700px) {
    body{
    background-color: #000;
    background-image: none;
    color: #fff;
    }    
    footer{
        display: none;
    }
    .main{   
    }
}